@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-user {
  width: 80%;
  margin: auto;
}

.app-admin {
  width: 100%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.app-content {
  display: flex;
}

.main-content {
  flex: 1;
  margin-left: 18%;
  background: #f8fafc;
  min-height: calc(100vh - 60px);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.cursor {
  cursor: pointer;
}

@media (max-width: 768px) {
  .app-user {
    width: 100%;
  }
  
  .main-content {
    margin-left: 0;
    padding-bottom: 80px;
  }
  
  .app-admin {
    padding-bottom: 80px;
  }
}